<!DOCTYPE html>


<html>
    <head>
        <meta charset='utf-8' content='user-scalable=no, width=720' name='viewport'>
        <title>Test</title>

        <link href='/Packages/Generic/Frontend/Themes/Main/Main.css' rel='stylesheet'>

        <style>
            body {
                padding: 10px;
            }
        </style>

        <script type='module'>
            import * as generic from '/Packages/Generic/Generic.js';


            let Component = generic.frontend.components.Component;
            await Component._defined;
        </script>
    </head>

    <body>

    </body>
</html>
