@layer {
    :host {
        --Component_displayInner: grid !important;

        grid: minmax(0, 1fr) / minmax(0, 1fr) !important;
        place-content: initial !important;
        width: 256px;
    }


    #input[part] {
        background: none;
        border: none;
        color: inherit;
        field-sizing: content;
        font: inherit;
        outline: none;
        place-self: initial !important;
        resize: none !important;
        word-break: break-all;
    }

    #root[part] {
        --Component_autoRefresh: initial !important;
        --GestureArea_gestures: none !important;
        --ScrollArea_snag: initial !important;


        &::part(display) {
            display: grid !important;
            grid-template: minmax(max-content, 1fr) / auto !important;
            place-content: initial !important;
            place-items: initial !important;
        }
    }
}
