<div id='root'>
    <slot id='display' part='display'></slot>

    <x-gestureArea id='edgeBottom' class='_Resizable_edge' part='edge edgeBottom'></x-gestureArea>
    <x-gestureArea id='edgeLeft' class='_Resizable_edge' part='edge edgeLeft'></x-gestureArea>
    <x-gestureArea id='edgeRight' class='_Resizable_edge' part='edge edgeRight'></x-gestureArea>
    <x-gestureArea id='edgeTop' class='_Resizable_edge' part='edge edgeTop'></x-gestureArea>

    <x-gestureArea id='cornerLeftBottom' class='_Resizable_corner' part='corner cornerLeftBottom'></x-gestureArea>
    <x-gestureArea id='cornerLeftTop' class='_Resizable_corner' part='corner cornerLeftTop'></x-gestureArea>
    <x-gestureArea id='cornerRightBottom' class='_Resizable_corner' part='corner cornerRightBottom'></x-gestureArea>
    <x-gestureArea id='cornerRightTop' class='_Resizable_corner' part='corner cornerRightTop'></x-gestureArea>
</div>
