<div id='root'>
    <div id='display' part='display'>
        <slot></slot>
    </div>

    <div id='edgeBottom' class='_Resizable_edge' part='edge edgeBottom'></div>
    <div id='edgeLeft' class='_Resizable_edge' part='edge edgeLeft'></div>
    <div id='edgeRight' class='_Resizable_edge' part='edge edgeRight'></div>
    <div id='edgeTop' class='_Resizable_edge' part='edge edgeTop'></div>

    <div id='cornerLeftBottom' class='_Resizable_corner _Resizable_edge' part='corner cornerLeftBottom edge'></div>
    <div id='cornerLeftTop' class='_Resizable_corner _Resizable_edge' part='corner cornerLeftTop edge'></div>
    <div id='cornerRightBottom' class='_Resizable_corner _Resizable_edge' part='corner cornerRightBottom edge'></div>
    <div id='cornerRightTop' class='_Resizable_corner _Resizable_edge' part='corner cornerRightTop edge'></div>
</div>
